/*
Sundried clay
#272822
39,40,34
\x1b[38;2;39;40;34m

Orchid
#F92672
249,38,114
\x1b[38;2;249;38;114m

bounded rationality
#66D9EF
102,217,239
\x1b[38;2;102;217;239m

henn1nk
#A6E22E
166,226,46
\x1b[38;2;166;226;46m

Pumpkin Spice
#FD971F
253,151,31
\x1b[38;2;253;151;31m
*/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    color: #dddddd;
    background: #666666;
}
#wrapper {
    width: 100vh;
    height: 80vh;
    background: #272822;
}
#terminal {
    width: calc(100% - 5vh);
    height: calc(100% - 5vh);
    padding: 2.5vh;
}
